h1,a,div,body {
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}

.bold{
    font-weight: bold;
}

section{
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
}

.border-gray{
    border: 1px solid gray;
}